<div class="card" style= "padding:15px;">
    <p class="text-uppercase">Usuario: <%=admin.name %> </p>
    <p>Status: <%=admin.email %> </p>
    <p><%= admin.created_at %></p>
    
    <%= link_to 'Ver mas', admin %>
</div>