<nav class="nav bg-light">
    <li class="nav-item">
        <%= link_to 'Inicio', root_path, class: "nav-link" %>
    </li>
    <li>
        <%= link_to 'Fotos', photos_path, class:"nav-link" %>
    </li>
    <li>
        <%= link_to 'Articulos', articles_path, class:"nav-link" %>
    </li>
    <li>
        <%= link_to 'Nuevo Articulo', new_articles_path, class:"nav-link" %>
    </li>

</nav>   