@import "~bootstrap/scss/bootstrap";

body{
    background: black;
    color: white;
}

trix-toolbar .trix-button.trix-active {
    background: #86c681;
    color: black;
}
trix-toolbar .trix-button {
    background: white;
}

.card {
    background-color: #616f49;
    margin: 1em;
}